.Naver {
  background-image: url("B12A01-landing-launchpad/Assets/Hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  height: 500px;
  margin: 0 auto;
}
#up {
  align-items: center;
}
.f-logo {
  font-weight: 900;
}
.logo {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  padding: 25px;
}
.button {
  border-radius: 4px;
  background: #4e47ff;
  padding: 10px;
  border: none;
  color: aliceblue;
}
.Cool {
  text-align: center;
  margin-top: 100px;
}
.f-logo {
  font-size: 40px;
  color: #4e47ff;
}
.ui {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

.img {
  width: 290px;
  height: 190px;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 300px;
  /* margin-left: 450px; */
}
.an-p {
  margin-bottom: 116px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  margin-top: 116px;
}
@media (max-width: 768px) {
  .an-p {
    flex-wrap: wrap;
  }
}
.p {
  color: #505058;
  font-size: larger;
}

.bg {
  margin-left: 50px;
  margin-right: 50px;
  background-color: #4e47ff30;
  border-radius: 20px;
}
.tp {
  padding-top: 8px;
  text-align: center;
}
.number {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 40px;
}
.k {
  text-align: center;
  align-items: center;
  font-size: 50px;
  color: #4e47ff;
}

.name {
  display: flex;
  align-items: center;
  gap: 8px;
}
.our {
  text-align: center;
  padding-top: 49px;
}

.trs {
  display: flex;
  align-items: center;
  gap: 20px;
}
.abba {
  padding-top: 39px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pl {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
}

.ster {
  display: flex;
  align-items: center;
}
.babo {
  padding-top: 30px;
  text-align: center;
  background-color: aliceblue;
}
.web {
  padding-top: 10px;
}
.i {
  width: 840px;
  height: 364px;
  border-radius: 48px;
}
.email {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 126px;
}
.get {
  font-size: 50px;
}
.in {
  /* margin-top: 16px; */
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4e47ff;
  border: none;
  color: aliceblue;
  font-weight: bold;
  border-radius: 4px;
}
.pt {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.home {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  justify-content: center;
}
.last-c {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.go {
  font-size: 50px;
  color: #4e47ff;
}
.bag {
  background-color: #4e47ff10;
}
.fot {
  background-color: white;
}
@media (max-width: 768px) {
  .email {
    display: flex;
    flex-wrap: wrap;
  }
  .i {
    width: 400px;
    height: 300px;
    justify-content: center;
  }
  .img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-left: 0;
  }
  .number {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .abba {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .trs {
    align-items: center;
    justify-content: center;
  }
  .ster {
    justify-content: center;
  }
  .pl {
    border: 2px solid green;
    background-color: white;
    margin-top: 20px;
  }
}
